@media only screen and (min-width: 35rem) {

        body {
        padding: 1.5rem 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    #cards.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #cards.list .card {
        grid-template-columns: 130px 1fr;
    }

    #cards.list .card img {
        width: 130px;
    }

    .card h2 {
        font-size: 1.1rem;
    }

    .card p {
        font-size: 0.9rem;
    }
    
} /* end media query*/